@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');



body {
    height: 10vh;
   display: flex;
   flex-direction: row;
   justify-content: center;
   background-color: rgb(25, 25, 25);
}

h1 {
    height: 20%;
    color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-top: .25%;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}

h1:hover {
    color: rgb(47, 174, 233);
    transition: ease-in-out .25s;
}

.nav {
    height: 20%;
    display: flex;
    color: rgb(25, 25, 25);
    flex-direction: row;
    width: 20%;
    font-family: 'Roboto', sans-serif;
}


.nav a {
    color: white;
    text-decoration: none;
}

.nav ul {
    margin: 1;
    display: flex;
    flex-direction: row;
    margin-left: 300%;
    font-size: 17px;
    font-weight: 700;
}

.nav a:hover {
    color: rgb(47, 174, 233);
    transition: ease-in-out .25s;
}

.nav1 {
    padding-right: 50%;
}

.allfields {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15%;
    margin-right: 10%;
    color: rgb(47, 174, 233);
}

.field1 {

    padding-right: 5%;
}

.field2 {

}

.form1 {
    height:100%;
    width: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.form2 {
    height:100%;
    width: 100%;
    background-color: gray;
}

.flash-msg {
    color: white;
    width: 10%;
    font-family: 'Roboto', sans-serif;
}

.movie-list {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

.row {
    margin-top: 10%;
    margin-right: 30%;
    position: relative;
    text-decoration: none;
}

.img {
    height: 500px;
    width: 350px;
    position: absolute;
    margin-top: 10%;
}

.movie-title {
    position: relative;
    margin-right: 40%;
    margin-top: 2.5%;
    font-family: 'Roboto', sans-serif;
}

.descrip {
    color: white;
    position: absolute;
    margin-top: 40%;
    width: 20%;
    font-family: 'Roboto', sans-serif;
}

.users {
    color: rgb(25, 25, 25);
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
}

.users-list {
    color: white;
}

h2 {
    color: white;
    margin-top: 17%;
    margin-right: -10%;
}

.rating {
    color: white;
    display: flex;
    flex-direction: row;
    margin-right: -30%;
    margin-top: 20%;
}

.submit {
    margin-left: 45%;
}

.user-details {
    color: white;
    margin-top: 6%;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

