{% extends 'base.html' %}
{% block title %}Movie Ratings Home{% endblock %}

{% block body %}
<h1>MOVIE RATINGS</h1>

<div class="nav">
  <ul>
    <li class="nav1"><a href="/movies">MOVIES</a></li>
    <li><a href="/users">USERS</a></li>
  </ul>
</div>

<div class="allfields">
  <div class="field1">
  <h2>Create an Account</h2>

  <form class="form1" action="/users" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  </div>


  <div class="field2">
  <h2>Log In</h2>

  <form class="form2" action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  </div>
</div>
{% endblock %}