{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block body %}
<div class="movie-title">
<h1>{{ movie.title }}</h1>
</div>


<div class="descrip">
<p>
  {{ movie.overview }}
</p>
</div>

{% if session.get('user_email') %}
<h2>Rate {{ movie.title }}</h2>
<div class="rating">
<form action="/movies/{{ movie.movie_id }}/ratings" method="POST">
  <p>
    Rating:
    <select name="rating">
      <option value="">Select rating</option>
      {% for num in range(6) %}
      <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </p>
  <p><input class="submit" type="submit" /></p>
</form>
</div>
{% endif %}

<img class="img" src="{{ movie.poster_path }}">
{% endblock %}